body{
    background-image: url("/images/Table_mountain.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    color: black;
}
img{
    width:150px;
}
.img{
    border-radius: 10px;
}
table tr td,th{
    color:black(130, 244, 140)
}